* {
    box-sizing: border-box;
}

@media(max-width:767px){
    .normal-navbar {
        display: none;   
    }
}

@media(min-width:768px){
    .mobile-navbar {
        display: none;   
    }
}

.mobile-navbar {
    overflow: hidden;
    position: relative;
}

.mobile-navbar #mobileNavLinks {
    display: none;
}

.mobile-navbar a {
    display: block;
    color: #ccc;
    padding: .5rem 1rem;
    text-decoration: none;
}

.mobile-navbar a.navbar-brand-title {
    text-decoration: none;
    color: #fff;
}

.mobile-navbar a.icon {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1rem;    
    text-decoration: none;
}

.mobile-navbar a.icon:hover {
    color: #fff;
}

.mobile-navbar a:hover:not(.icon, .navbar-brand-title) {
    text-decoration: none;
    background-color: rgba(255,255,255,.075);
    color: #fff;
}

.mobile-navbar a:active:not(.icon, .navbar-brand-title) {
    text-decoration: none;
    background-color: rgba(255,255,255,.075);
    color: #fff;
}

.mobile-navbar a.active {
    text-decoration: none;
    background-color: rgba(255,255,255,.075);
    color: #fff;
}
